body {
    padding: 0px;
    margin: 0px;
    background-color: white;
    font-family: roboto;
}
p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a{
    text-decoration: none;
}
.nav {
    margin: 26px 0px 0px 0px;
}
.nav #logo {
    height: 32px;
    width: 50px;
    margin-left: 109px;
    float: left;
    text-decoration: none;
    font-weight: 800;
    color: #F06922;
    font-size: 23px;
    letter-spacing: 10;
}

.nav #logo:hover{
    cursor: pointer;
    color: #E32E32;

}

.nav ul {
    list-style-type: none;
    padding: 3px 0px 0px 43%;
    margin: 0px;
    overflow: hidden;
}

.nav li {
   float: left;
    
}

.nav li a {
    margin-left: 42px;
    display: block;
    color: #5C5B5B;
    text-decoration: none;
    font-weight: 700;
}
.nav li :hover{
    color: #EF6424;
}

.bg {
    height: 674px;
    width: 100%;
}
.bg img {
    float: right;
    height: 94%;
    margin-top: 47px;
}
.bg #bgtext {
    float: left;
    width: 42%;
    margin: 39px 0 0 -55px;
}
.bg p:nth-of-type(1) {
    color: rgb(92, 91, 91);
    font-size: 34px;
    font-weight: 700;
    margin-top: 86px;
}
.bg p:nth-of-type(2){
    color: rgba(184, 183, 183, 0.829);
    margin-top: 34px
}


.bg a {
    color: white;
    text-decoration: none;
    background: #E32E32;
    padding: 9px 25px;
    border-radius: 5px;
    float: left;
    margin-top: 38px;
}

.bg img {
    float: right;
    height: 88%;
    margin-top: 47px;
}


.about {
    width: 84%;
    display: flex;
    margin: 0 auto;
    height: 650px;
}


.about img {
    width: 57%;
}
.about #aboutxt {
    width: 40%;
    
}

.about #aboutxt p {
    margin: 174px -9px 0 32px;
}

.about #aboutxt #intr {
    font-size: 35px;
    color: #343233;
    font-weight: 700;
}

.about #aboutxt #des{
    color: #878787;
}

.about #aboutxt #bigdes{
    color: #9C9C9C ;
}



.about a {
    
    padding: 10px 25px;
    color: white;
    background: #F89714;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    position: relative;
    margin-left: 30px;
}
.about a:hover{
    cursor: pointer;
    background-color: #E32E32;
}


.service {
    height: 650px;
    margin-top: 60px;
}
.service #sertxt {
    text-align: center;
    margin-bottom: 61px;
}

.service #sertxt p:nth-of-type(1){
    font-size: 30px;
    font-weight: 700;
    color: #343233;
    
}

.service #sertxt p:nth-of-type(2){
    margin-top: 20px;
    font-size: 16px;
    color: #5C5B5B;
    
}

.service .serwrap {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.service .serwrap #ui {
    padding: 40px;
    text-align: center;
    border-bottom: 1px solid #D9C9C3;
    border-right: 1px solid #D9C9C3;
}

.service .serwrap #prod{

    padding: 40px;
    text-align: center;
    border-bottom: 1px solid #D9C9C3;
    border-right: 1px solid #D9C9C3;
}

.service .serwrap #app{
    padding: 40px;
    text-align: center;
    border-bottom: 1px solid #D9C9C3;
    

}

.service .serwrap #ui img{
    width: 88px;
    text-align: center;
    color: #5C5B5B;


}

.service .serwrap #prod img{
    width: 88px;
    text-align: center;
    color: #5C5B5B;


}
.service .serwrap #app img{
    width: 88px;
    text-align: center;
    color: #5C5B5B;


}

.service .serwrap p#txt {
    text-align: center;
    color: #5C5B5B;
    margin-top: 22px;
    font-size: 14px;
    letter-spacing: 1px;
}



.service .serwrap2 {
    display: flex;
    width: 70%;
    margin: 0 auto;
}
.service .serwrap #ill {
    padding: 40px;
    text-align: center;
    
    border-right: 1px solid #D9C9C3;
}

.service .serwrap #red{

    padding: 40px;
    text-align: center;
    
    border-right: 1px solid #D9C9C3;
}

.service .serwrap #res{
    padding: 40px;
    text-align: center;
    
    

}

.service .serwrap p#txt {
    text-align: center;
    color: #5C5B5B;
    margin-top: 22px;
    font-size: 14px;
    letter-spacing: 1px;
}

.service .serwrap h1{
    color: #343233;
    font-size: 19px;

}

.service .serwrap #ill img{
    width: 88px;
    text-align: center;
    color: #5C5B5B;


}

.service .serwrap #red img{
    width: 88px;
    text-align: center;
    color: #5C5B5B;


}
.service .serwrap #res img{
    width: 88px;
    text-align: center;
    color: #5C5B5B;


}



.service .serwrap #ui:hover{

    background-color: rgb(251, 253, 115);

}



.service .serwrap #app:hover{

    background-color: rgb(251, 253, 115);

}

.service .serwrap #ill:hover{

    background-color: rgb(251, 253, 115);

}

.service .serwrap #red:hover{

    background-color: rgb(251, 253, 115);

}

.service .serwrap #res:hover{

    background-color: rgb(251, 253, 115);

}

.service .serwrap #prod:hover{

    background-color: rgb(251, 253, 115);

}

.latest-sec {
    height: 598px;
    width: 74%;
    padding: 8% 0 0 13%;
}

.latest-work {
    display: flex;
    margin-top: 50px;
    
    
   
}

.work-txt{
    width: 50%;
}
.work-txt h1{
    color: #343233;
}

.work-txt p{
    color: #5C5B5B;
}

.work-txt p{
    color: #5C5B5B;
}

.work-bar {
    background-color: #EF6424;
    height: 5px;
    width: 20px;
    border-radius: 30%;
    margin-left: 374px;
    margin-top: 70px;
}
.work-bar2{
    
    background-color: #9C9C9C;
    height: 5px;
    width: 5px;
    border-radius:50%;
    margin-left: 10px;
    margin-top: 70px;
}

.work-bar3{
    
    background-color: #9C9C9C;
    height: 5px;
    width: 5px;
    border-radius:50%;
    margin-left: 10px;
    margin-top: 70px;
    
}

.work-bar4{
    
    background-color: #9C9C9C;
    height:5px;
    width: 5px;
    border-radius: 50%;
    margin-left:10px;
    margin-top: 70px;
    
}

.card{
    width: 50%;
}
.container {
    padding: 11px 20px;
    background-color: rgba(239, 100, 36, 0.8);
    width: 165px;
    color: white;
    text-align: center;
}
.card img {
    width: 78%;
    transition: transform .2s;

}
.card img:hover {
    
    transform: scale(1.5)

}

.client {
    padding: 0 13%;
    height: 500px;
}

.client-cont{
    display: flex;

}git 

.client-cont img {
    width: 33%;
}

.client-box {
    text-align: justify;
    margin-left: 182px;
}

.client-box h1{
    color: #343233;
    
}

.client-box p {
    color: #5C5B5B;
    margin-top: 72px;
}
.client-jhankar {
    font-size: 22px;
    margin-top: 59px;
}
.client-jhankar p{
    font-size: 16px;
    margin: initial;
}


.client-box img {
    margin-top: 10px;
    width: 7%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.411);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.411);
}

.client-point {
    background-color: #EF6424;
    height: 5px;
    width: 20px;
    border-radius: 30%;
    float: left;
    margin-left: 86%;
}

.client-point2{
    background-color: #9C9C9C;
    height:5px;
    width: 5px;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
    
}

.latest-news {
    padding: 0 0 0 13%;
}

.news-txt{
    display: flex;
}
.news-txt h1{
    color: #343233;
}
.news-txt p{
    color: #5C5B5B;
}

.fa-arrow-left:before {
    font-size: 23px;
    margin-left: 427px;
    color: #878787;
}

.fa-arrow-right:before {
    font-size: 27px;
    margin-left: 21px;
    color: #F89714;
}

.news-img {
    display: flex;
    margin-top: 52px;
}
.let-news1{
    width: 38%;
    padding-right: 50px;
    
}

.let-news1 h1 {
    color: #343233;
    margin-top: 79px;
    margin-left: 76px;
}
.let-news1 p {
    color: #5C5B5B;
    margin-top: 46px;
    margin-left: 76px;
}
.news-img img{
    width: 38%;
}
.let-news1 a{
    margin-top: 76px;
    text-decoration: underline;
    margin-left: 76px;
    color: #F06922;
}

.date{
    float: right;
    color: #878787;
    
}
.let-border {
    border-left: 5px solid #F06922;
    float: left;
    height: 62px;
    

}

.news-img2 {
    display: flex;
    margin-top: 36px;
}

.news-txt2 h1 {
    margin: 41px 0 0 56px;
    color:#343233
}
.news-txt2 p {
    margin: 44px 0 0 56px;
    color:#5C5B5B
}

.news-txt2 a {
    margin: 0 0 55 55;
    color: #F06922;
    text-decoration: underline;
    float: left;
}
.news-img2 img {
    width: 40%;
    height: 37%;
   
}



.news-txt2 {
    width: 38%;
    
}

.date2{
    float: right;
    color: #878787;
    
}
.let-border2 {
    border-right: 5px solid #F06922;
    float: right;
    height: 62px;
    margin-top: 58px;
}

.project {
    display: flex;
    text-align: center;
    padding: 7% 19% 19% 13%;
}
.project img {
    width: 12%;
}
.project h1 {
    color: #343233;
    margin-bottom: 26px;
}

.call-to-action{
    flex-grow: 6
}

.call-to-action a {
    padding: 8px 25px;
    background-color: #E32E32;
    border-radius: 7px;
    color: white;
}

.call-to-action a:hover {
    padding: 8px 25px;
    background-color: #F89714;
    
}







